.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 15px;
}

.pokemon {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
  transition-duration: 0.2s;
}

.pokemon:hover {
  background-color: aliceblue;
  color: #999;
  cursor: pointer;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 0 15px;
}

.pagination button {
  padding: 15px;
  font-size: 18px;
  font-weight: 800;
  background-color: coral;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 100%;
  display: block;
  transition-duration: 0.2s;
}

.pagination button:hover {
  background-color: gold;
  color: #000;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #999;
  color: #fff;
  cursor: not-allowed;
}

.page-number {
  text-align: center;
  font-weight: 600;
  color: brown;
  width: 200px;
  margin: 15px auto;
}
